<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Travel Experts</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/darkbootstrap.css")
    @Styles.Render("~/Content/Sty.css")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            @if (Session["CustomerId"] != null)
            {
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Bookings", "Index", "BookingsVM")</li>
                    <li>@Html.ActionLink("LogOut", "LogOut", "Home")</li>
                    <li><h4>     Welcome @Session["Username"]</h4></li>
                    @*Text to display, htmlpage name(cshtml), Controller name*@
                </ul>
            </div>
            }

            else
            {
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Login", "Login", "Login")</li>
                        <li>@Html.ActionLink("Register", "Register", "RegisterVM")</li>
                        @*Text to display, htmlpage name(cshtml), Controller name*@
                    </ul>
                </div>
            }
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Copyrights &copy; @DateTime.Now.Year - Travel Experts</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
