@model IEnumerable<Online.Models.Customer>

@{
    ViewBag.Title = "Customer";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Go back to Bookings", "Index", "BookingsVM")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustAddress)
        </th>
        <th> 
            @Html.DisplayNameFor(model => model.CustCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustProv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustPostal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustCountry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustHomePhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustBusPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Password)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model.Where(ModelItem => ModelItem.CustomerId.Equals(Session["CustomerId"]))) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustProv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustPostal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustCountry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustHomePhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustBusPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CustomerId })
            @*@Html.ActionLink("Details", "Details", new { id=item.CustomerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CustomerId })*@
        </td>
    </tr>
}

</table>